* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: min(300px, 80vw);
  height: 100vh;
  background: rgb(34, 34, 34);
  color: rgb(230, 230, 230);
  padding-top: 2.2rem;
  padding-bottom: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar nav>* {
  padding: 0.25rem 1rem;
}

.sidebar img {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-link {
  display: block;
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.sidebar-link:hover {
  background: rgb(80, 80, 80);
}

.sidebar-link.nested {
  padding-left: 3rem;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.main-container.sidebar-open {
  margin-left: min(300px, 80vw);
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    transform: translateX(0);
    width: 300px;
    height: 100vh;
  }

  .main-container {
    margin-left: 300px;
  }

  .main-container.sidebar-open {
    margin-left: 300px;
  }
}

.header {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  justify-content: space-between;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.logo {
  font-weight: bold;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .header-content {
    justify-content: center;
  }
}

.main-content {
  flex: 1;
  max-width: 700px;
  width: 700px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 6rem;
}

.mdx-content * {
  all: revert;
}

.mdx-content {
  all: initial;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

.mdx-content pre {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10px;
}

.mdx-content code:not(pre code) {
  background: #f5f5f5;
  padding: 0 0.4em;
  border-radius: 4px;
}

.mdx-content .table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.mdx-content table {
  margin: 0 auto;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-collapse: collapse;
  white-space: nowrap;
  width: auto;
}

.mdx-content th {
  border-bottom: 1px solid #333;
}

.mdx-content td,
.mdx-content th {
  padding: 0 1rem;
}
